<!doctype html>
<html>
    <head>
        <title>Projects</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/github">Github</a>
        </nav>

        <section>
            <a href="https://github.com/AlexanderAung">Github</a>
        </section>
    </body>
</html>
