<!doctype html>
<html>
    <head>
        <title>Projects</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/github">Github</a>
        </nav>

        <section>
            <h2>My Projects</h2>
            <ul>
                <li>✔️ Flask Login System</li>
                <li>✔️ Hotel Booking App</li>
                <li>✔️ To-Do List Web App</li>
            </ul>
        </section>
    </body>
</html>
